@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');
/* font-family: 'Raleway', sans-serif; */

:root {
    --color: #024848;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.8px;
}

.btn:hover {
    background-color: var(--color);
    color: white;
    transition: 0.2s ease-in;
}

.btn1:hover {
    background-color: #000000;
    color: #EACB4C;
    transition: 0.2s ease-in;
}

a {
	cursor: pointer;
}

/* navigation */

.header__content {
    max-width: 100%;
    height: 100%;
	background-color: #F2DBCE;
}

.nav {
    margin-bottom: 90px;
}

.container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1330px;
    height: 52px;
    padding-top: 25px;
    margin: 0 auto;
}

.logo {
    font-size: 44px;
    font-weight: 800;
    letter-spacing: normal;
    text-decoration: none;
    color: white;
}

.nav__items:hover {
    color: #024848;
    transition: 0.2s ease-in;
}

.nav__item {
    display: flex;
    list-style-type: none;
    gap: 49px;
}

.nav__items {
    font-size: 18px;
    font-weight: 800;
    color: white;
}

.nav__item a {
    text-decoration: none;
}

.nav__check {
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav__login {
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 800;
    color: var(--color);
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
}

/* Header */ 

.header {
	width: 100%;
	height: 100%;
}

.header__container {
	position: relative;
	max-width: 1470px;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}

.content__header {
	padding: 0 0 110px;
	display: flex;
	justify-content: space-between;
}

.header__title {
	font-size: 30px;
	font-weight: 800;
	color: var(--color);
	margin-bottom: 160px;
}

.cactus__right {
	position: absolute;
	margin: -58px 0 0 90px;
	right: 0;
	transform: rotate(90deg);
	font-size: 40px;
	font-weight: 800;
	color: #000;
}

.content__left {
	text-align: left;
	margin-left: 170px;
}

.content__title {
	margin-bottom: 28px;
	font-size: 26px;
	font-weight: 800;
	color: #000000;
}

.content__number {
	font-size: 20px;
	font-weight: 800;
	color: #666666;
}

.content__email {
	margin-bottom: 28px;
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}

.content__address {
	max-width: 431px;
	font-size: 20px;
	font-weight: 800;
	color: #666666;
}

.content__right {
	margin: -60px 180px 0 0;
}

/* Footer */ 

.footer {
	width: 100%;
	height: 100%;
	padding: 68px 0;
	background-color: var(--color);
}

.container__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: 1330px;
	height: 100%;
	margin: 0 auto;
}

.footer__icons {
	display: flex;
	gap: 10px;
}

.footer__title {
	padding-left: 20px;
	font-size: 20px;
	font-weight: 800;
	color: #fff;
}

.email__news {
    width: 300px;
    height: 50px;

    font-size: 12px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
    color: #666666;
	letter-spacing: 1.8px;

    border: none;
    border-radius: 10px;
    background-color: #fff;

	padding-left: 15px;
    outline: none;
    transition: 0.3s;
}

.footer__button {
	width: 120px;
	height: 54px;
	padding-left: 10px;

	font-size: 14px;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.8px;

	color: #000000;
	background-color: #EACB4C;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}